{% extends 'base.html' %}
{% block title %}
    BarosaTax - Additional Corporation
{% endblock %}
{% block content %}
{% load static %}

<!-- Additional Corporation Services  starts here -->
<section class="about_us">
  <div class="row p-lg-5 p-4">
    <div class="col-lg-6 my-auto px-0 px-lg-2">
      <h1 class="fw-bold mb-4">Additional Corporation Services</h1>
      <p> Successfully starting a business is easily said than done.The risk appetite of individuals vary and we deal with every individual in their perspective in its totality  
           </p>
<li>File annual return</li>
<li>Incorporate(Express Service Available)</li>
<li>Order uncertified copies of corporate documents </li>
<li>Get a certificate of compliance</li>
<li>Get a certificate of existence</li>
<li>Amend articles(Express Service Available)</li>
<li>Pre-approve a corporate name</li>
<li>View/change director information</li>
<li>Change registered office information</li>
<li>Add/Change additional address</li>
<li>Subscribe: annual return reminders and corporate filing notices</li>
<li>Subscribe to email notice</li>
<li>File financial statements</li>
<li>Order a corporate profile</li>
<li>Apply for an exemption</li>
    </div>
    <div class="col-lg-6 order-first order-lg-last mb-4 mb-lg-0 px-0 px-lg-2">
      <img
        src="{% static 'img/addcorp.jpg' %}"
        class="w-100"
        alt=""
      />
    </div>
  </div>
</section>
<!-- Business Advisory_tax ends here -->






{% endblock %}