{% extends 'base.html' %}
{% block title %}
    BarosaTax - Business Incorporation
{% endblock %}
{% block content %}
{% load static %}

<!-- Business Incorporation _tax starts here -->
<section class="about_us">
  <div class="row p-lg-5 p-4">
    <div class="col-lg-6 my-auto px-0 px-lg-2">
      <h1 class="fw-bold mb-4">Business Incorporation Tax</h1>
      <p> We offer a single window solution for the end-to-end needs of Corporate in their Tax 
and Accounting Situations. Our consultants co-ordinate with clients to analyse 
and streamline practical approaches to corporate tax concerns.
  
           </p>
<li>Federal Incorporation</li>
<li>Provincial Incorporation</li>
<li>Professional Real Estate Corporation</li>
<li>Non-Profit Corporation</li>
<li>Charity Registration</li>
    </div>
    <div class="col-lg-6 order-first order-lg-last mb-4 mb-lg-0 px-0 px-lg-2">
      <img
        src="{% static 'img/buzinco.jpg' %}"
        class="w-100"
        alt=""
      />
    </div>
  </div>
</section>
<!-- Business Incorporation_tax ends here -->




{% endblock %}