{% extends 'base.html' %} 
{% block title %} BarosaTax - Personal Tax {% endblock%} 
{% block content %}
{% load static %}

<!-- personal_tax starts here -->
<section class="about_us">
  <div class="row p-lg-5 p-4">
    <div class="col-lg-6 my-auto px-0 px-lg-2">
      <h1 class="fw-bold mb-4">Personal Tax</h1>
      <p>
        Tax situations vary with individuals. We work closely with our clients
        to figure out their specific needs and adopt customised approach with
        each client and their Tax situation and do the Tax planning. We work to
        maximise your Tax refunds and help you with efficient Tax planning to
        optimise your savings.
      </p>
    </div>
    <div class="col-lg-6 order-first order-lg-last mb-4 mb-lg-0 px-0 px-lg-2">
      <img
        src="{% static 'img/Happy_Barber.jpg' %}"
        class="w-100"
        alt=""
      />
    </div>
  </div>
</section>
<!-- personal_tax ends here -->

<script>
  $('.servicesmenu').addClass('active')
</script>
{% endblock %}
