{% extends "_base.html" %} {% load static %} {% block content %} {% load mathfilters %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h5 class="fw-bold my-3">Balance Conformation Letter</h5>
            <div class="card border-0 shadow p-3">
                <!-- Calander Form -->
                <!-- <div class="row mb-4">
                    <div class="col-md-8 ms-auto">
                        <form id="calendersearch" method="get" action="" novalidate>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="calander_from" class="form-label mb-0">From</label>
                                    <input required type="date" class="form-control" name="calander_from">
                                </div>
                                <div class="col-md-4">
                                    <label for="calander_to" class="form-label mb-0">To</label>
                                    <input required type="date" class="form-control" name="calander_to">
                                </div>
                                <div class="col-md-4 mt-auto mb-1">
                                    <button type="submit" class="btn btn-success btn-sm w-100"><i
                                            class="fa fa-search me-2"></i> Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> -->
                <!-- Search Form -->
                <div class="row ">
                    <div class="col-12 mb-2 ">
                        <form action="">
                            <div class="input-group me-2 input-group-sm mb-2 w-25 float-end">
                                <input name="search" type="text" class="form-control" placeholder="Search Here ..."
                                    aria-label="Search Here ..." aria-describedby="button-addon2">
                                <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                        class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                {% if salesinvoices %}
                <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Invoice Date</th>
                            <th scope="col">Gst Number</th>
                            <th scope="col">Invoice Number</th>
                            <th scope="col">Recived Amount</th>
                            <th scope="col">Net reciveable</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for salesinvoice in salesinvoices %}
                        <tr>
                            <td>
                                {% for i in salesinvoice.saleid.sales.all|slice:"1" %}
                                {{i.customer.customerid.Company_Name}}
                                {% endfor %}
                            </td>
                            <td>
                                <ul>
                                    {% for i in salesinvoice.invoice.all %}
                                    <li>{{i.InvoiceDate}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {% for i in salesinvoice.saleid.sales.all|slice:"1" %}
                                {{i.customer.gst.GST_No}}
                                {% endfor %}
                            </td>
                            <td>
                                <ul>
                                    {% for i in salesinvoice.invoice.all %}
                                    <li>{{i.InvoiceNo}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for i in salesinvoice.saleid.sales.all %}
                                    <li> Rs.{{i.netAmount.AmountPayyed|floatformat:"2"}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    {% for i in salesinvoice.saleid.sales.all %}
                                    <li> Rs.{{i.netAmount.Balance|floatformat:"2"}}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <a class="bclview" href="" data-id="{{salesinvoice.id}}" data-bs-toggle="modal"
                                    data-bs-target="#Balanceconformation">
                                    <i class="fa fa-eye fa-lg text-success"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>Grand Total</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Rs.{{recivedamount.saleid__sales__netAmount__AmountPayyed__sum|floatformat:"2"}}</td>
                            <td>Rs.{{netreciveable.saleid__sales__netAmount__Balance__sum|floatformat:"2"}}</td>
                        </tr>
                    </tbody>
                </table>
                {% else %}
                <div class="p-5 mt-4 border-0 text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="96" height="96" viewBox="0 0 172 172"
                        style=" fill:#000000;">
                        <g fill="none" fill-rule="none" stroke="none" stroke-width="1" stroke-linecap="butt"
                            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                            font-family="none" font-weight="none" font-size="none" text-anchor="none"
                            style="mix-blend-mode: normal">
                            <path d="M0,172v-172h172v172z" fill="none" fill-rule="nonzero"></path>
                            <g>
                                <path d="M104.44659,114.55238l10.13249,-10.13284l43.08294,43.08144l-10.13249,10.13284z"
                                    fill="#333333" fill-rule="nonzero"></path>
                                <path
                                    d="M71.55558,14.26167c-31.66433,0 -57.33333,25.66901 -57.33333,57.33333c0,31.66433 25.66901,57.33333 57.33333,57.33333c31.66433,0 57.33333,-25.66901 57.33333,-57.33333c0,-31.66433 -25.66901,-57.33333 -57.33333,-57.33333z"
                                    fill="#333333" fill-rule="nonzero"></path>
                                <path d="M116.1861,126.56761l10.13249,-10.13284l31.16374,31.16265l-10.13249,10.13284z"
                                    fill="#333333" fill-rule="nonzero"></path>
                                <path
                                    d="M71.55558,25.01167c-25.72726,0 -46.58333,20.85607 -46.58333,46.58333c0,25.72726 20.85607,46.58333 46.58333,46.58333c25.72726,0 46.58333,-20.85607 46.58333,-46.58333c0,-25.72726 -20.85607,-46.58333 -46.58333,-46.58333z"
                                    fill="#e74c3c" fill-rule="nonzero"></path>
                                <path
                                    d="M95.90433,90.60817c-5.96267,-7.36017 -14.73825,-11.77483 -24.21258,-11.77483c-9.47433,0 -18.24633,4.41467 -24.21258,11.77483c-1.41183,1.47992 -1.05708,4.05633 0.344,5.16c1.41183,1.46917 3.86283,1.09292 4.91992,-0.37267c4.90558,-5.89817 11.49533,-9.3525 18.87342,-9.3525c7.37808,0 14.11117,3.45433 19.02033,9.3525c0.71308,0.731 2.86308,2.18583 4.9235,0.731c1.6555,-1.161 1.40108,-4.03483 0.344,-5.51833z"
                                    fill="#f5f5f5" fill-rule="nonzero"></path>
                                <path
                                    d="M51.95833,53.75c-2.96853,0 -5.375,2.40647 -5.375,5.375c0,2.96853 2.40647,5.375 5.375,5.375c2.96853,0 5.375,-2.40647 5.375,-5.375c0,-2.96853 -2.40647,-5.375 -5.375,-5.375zM91.375,53.75c-2.96853,0 -5.375,2.40647 -5.375,5.375c0,2.96853 2.40647,5.375 5.375,5.375c2.96853,0 5.375,-2.40647 5.375,-5.375c0,-2.96853 -2.40647,-5.375 -5.375,-5.375z"
                                    fill="#f5f5f5" fill-rule="evenodd"></path>
                            </g>
                        </g>
                    </svg>
                    <h5 class="fw-bold mt-3">No Details Available</h5>
                </div>
                {% endif %}
                <!-- pagination -->
                {% if obj.agency_obj.has_other_pages %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        {% if obj.agency_obj.has_previous %}
                        <li class="page-item"><a class="page-link"
                                href="?page={{obj.agency_obj.previous_page_number }}">Previous</a></li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        {% endif %} {% for i in obj.agency_obj.paginator.page_range %}
                        {% if obj.agency_obj.number == i %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{i}}">{{i}}</a>
                        </li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %} {% endfor %} {% if obj.agency_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{obj.agency_obj.next_page_number }}">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" aria-disabled="true">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="Balanceconformation" tabindex="-1" aria-labelledby="BalanceconformationLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button class="btn btn-success generatebcl float-end btn-sm">Generate</button>
                <div id="bclletter">
                    <div class="text-center">
                        {% now "Y" as current_year %}
                        <h5 class="fw-bold">{{active_agency_obj.0.Name}}</h5>
                        <h6 class="fw-bold"><u>BALANCE CONFIRMATION {{current_year|sub:1}} - {% now "Y" %}</u></h6>
                    </div>
                    <p class="float-end mt-3">Date: <span class="bcldate"><input class="bcldateval" type="date"></span>.
                    </p>
                    <div class="mt-4 toadddress">

                    </div>
                    <div class="mt-4">
                        <p class="customergstno"> </p>
                    </div>
                    <div class="mt-4">
                        <p class="fw-bold mb-2">Dear Sir / Madam,</p>
                        <p class="mb-2">
                            In connection with the audit of our accounts on <span class="bcldate"></span> our auditors
                            require a
                            certificate from
                            Your confirming the balance is <span class="customerrecvamnt"></span> in your accounts
                            of <span class="bcldate"></span>
                        </p>
                        <p class="mb-2">
                            We shall appreciate if you verify the above data with your records and sign at the bottom.
                        </p>
                        <p class="mb-2">
                            We thank you in advance for your Co-operation in complying with this request. <br>
                            For <b>{{active_agency_obj.0.Name}}</b>
                        </p>
                    </div>
                    <div class="mt-4">
                        <p class="fw-bold mb-2">Authorized Signatory.</p>
                        <p class="mb-0">We hereby confirm the balance of M/s {{active_agency_obj.0.Name}} in our books
                            as on
                            {% now "d-m-Y" %} is
                            <span class="customerrecvamnt"></span>
                        </p>
                    </div>
                    <div class="mt-4">
                        <p>Name: __________________________</p>
                        <p>Signature: _____________________</p>
                        <p>Seal: ____________________________</p>
                        <p> Date: _______________________</p>
                    </div>
                </div>
                <div class="bclprint text-end d-none">
                    <button class="btn btn-sm btn-danger me-2"><i class="fa fa-close"></i></button>
                    <button id="bclprintbtn" class="btn btn-sm btn-success"><i class="fa fa-print me-2"></i>
                        Print</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block script %}

<script>
    $(document).ready(function () {
        $('.bclMenu').addClass('active')
    });
    $('.bclview').click(function () {
        let bclid = $(this).attr('data-id')
        $.get('/api/sale-invoice/' + bclid + '/', function (data, status) {
            let customer = data.saleid.sales[0].customer.customerid
            $('.toadddress').html(`
            <p class="fw-bold mb-2">To,</p>
            <p class="mb-0">${customer.Company_Name},</p>
            <p class="mb-0">${customer.Company_Address},</p>
            <p class="mb-0">${customer.Company_City}-${customer.Company_Zip}</p>
            <p class="mb-0">${customer.Company_State},</p>
            <p class="mb-0">${customer.Company_country},</p>
        `);
            let totalprice = 0
            for (i of data.saleid.sales) {
                totalprice += parseInt(i.netAmount.Balance)
            }
            $('.customergstno').html(`<b class="me-2">GST NO:</b>${data.saleid.sales[0].customer.gst.GST_No.GST_No}`)
            $('.customerrecvamnt').html(`Rs.${totalprice.toFixed(2)}/-`)

            $('.generatebcl').click(function () {
                let bcldate = $('.bcldateval').val()
                if (bcldate) {
                    $('.bcldate').html(bcldate)
                    $('.bclprint').removeClass('d-none')
                    $('.generatebcl').addClass('d-none')
                } else {
                    alert('Please Mention Date')
                }
            })
        })
    })

    // Balabce Conformation Letter Print
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
    window.onafterprint = function () {
        window.location.reload()
    }
    $('#bclprintbtn').click(function () {
        printDiv('bclletter')
    })

</script>

{% endblock script %}