{% extends 'base.html' %}
{% block title %}
    BarosaTax - Customers
{% endblock %}
{% block content %}

<!-- blog-section starts here -->
<section class="blog-section my-4 my-lg-5">
    <div class="container">
        <div class="row px-lg-5">
            <h6 class="mb-4">All Posts</h6>
            {% for i in blog %}
            <div class="col-md-12 mb-4">
                <div class="card p-4">
                    <div class="d-flex">
                        <h1 class="avatar">{{i.author|make_list|first}}</h1>
                        <div>
                            <h5 class="fw-bold text-capitalize ">{{i.author}}</h5>
                            <p><small class="text-muted">Posted on {{i.created_on}}</small></p>
                        </div>
                    </div>
                    <h2 class="h1 mt-2"><a href="./blog/{{i.slug}}" class="text-decoration-none text-capitalize text-blue" target="_blank">{{i.title}}</a></h2>
                    <div >{{i.description.html|safe|truncatewords:10}}</div>
                    <hr>
                    <div>
                        <span>{{i.views}} views</span>
                        <span class="ms-3">{{i.comments.all.count}} comments</span>
                        <!-- <span class="float-end text-danger"><i class="fa fa-heart-o"></i></span> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- stand_out ends here -->

<script>
    $('.blogsmenu').addClass('active')
</script>

{% endblock %}