{% extends 'base.html' %}
{% block title %}
    BarosaTax - Locations
{% endblock %}
{% block content %}
{% load static %}

<!-- Locations starts here -->
<section class="services">
    <div class="row px-4 px-lg-5">
        <div class="col-lg-6 my-auto px-0 px-lg-2">
            <h1 class="">Our Locations</h1>
            <p>Being one of the leading Tax and Accounting firm in Canada we provide an advantage for our clients by having multiple virtual locations to serve better.</p> 
        </div>
        <div class="col-lg-6 px-0 px-lg-2 order-first order-lg-last mb-4 mb-lg-0">
            <img src="{% static '/img/pexels-harrison-haines-3536510.jpg' %}" class="w-100" alt="">
        </div>

    </div>
</section>
<!-- Locations ends here -->



<!-- stand_out starts here -->
<section class="stand_out my-4 py-lg-5">
    <div class="container-fluid">
        <div class="row px-lg-5">
            <div class="col-md-3 mb-4">
                <div class="cardlayer">
                    <div class="card p-0 border-0 card-overlay"></div>
                    <h5 class="fw-bold p-3 position-absolute text-white bottom-0 mb-0" >Scarborough</h5>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="cardlayer">
                    <div class="card p-0 border-0 card-overlay"></div>
                    <h5 class="fw-bold p-3 position-absolute text-white bottom-0 mb-0" >Ajax</h5>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="cardlayer">
                    <div class="card p-0 border-0 card-overlay"></div>
                    <h5 class="fw-bold p-3 position-absolute text-white bottom-0 mb-0" >Oshawa</h5>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="cardlayer">
                    <div class="card p-0 border-0 card-overlay"></div>
                    <h5 class="fw-bold p-3 position-absolute text-white bottom-0 mb-0" >Whitby</h5>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="cardlayer">
                    <div class="card p-0 border-0 card-overlay"></div>
                    <h5 class="fw-bold p-3 position-absolute text-white bottom-0 mb-0" >Pickering</h5>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="cardlayer">
                    <div class="card p-0 border-0 card-overlay"></div>
                    <h5 class="fw-bold p-3 position-absolute text-white bottom-0 mb-0" >Etobicoke</h5>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="cardlayer">
                    <div class="card p-0 border-0 card-overlay"></div>
                    <h5 class="fw-bold p-3 position-absolute text-white bottom-0 mb-0" >North York</h5>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="cardlayer">
                    <div class="card p-0 border-0 card-overlay"></div>
                    <h5 class="fw-bold p-3 position-absolute text-white bottom-0 mb-0" >Toronto</h5>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="cardlayer">
                    <div class="card p-0 border-0 card-overlay"></div>
                    <h5 class="fw-bold p-3 position-absolute text-white bottom-0 mb-0" >Brampton</h5>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="cardlayer">
                    <div class="card p-0 border-0 card-overlay"></div>
                    <h5 class="fw-bold p-3 position-absolute text-white bottom-0 mb-0" >Markham</h5>
                </div>
            </div>  
        </div>
    </div>
</section>
<!-- stand_out ends here -->

<script>
    $('.locationsmenu').addClass('active')
</script>
{% endblock %}
