<!-- call_back starts here -->
<section class="call_back my-5 px-4 style="display: none;">
    <h2 class="h1 text-center fw-bold text-danger">Request a Call back?</h2>
    <div class="row mt-5">
        <div class="col-lg-6 mx-auto">
            <form action="">
                <div class="row">
                    <div class="col-md-6 mb-3 form-group">
                        <label for="Name" class="small mb-1">Name</label>
                        <input type="text" class="form-control" id="Name" name="Name">
                    </div>
                    <div class="col-md-6 mb-3 form-group">
                        <label for="Email" class="small mb-1">Email</label>
                        <input type="email" id="Email" required class="form-control" name="Email">
                    </div>
                    <div class="col-md-6 mb-3 form-group">
                        <label for="Phone" class="small mb-1">Phone</label>
                        <input type="text" class="form-control" name="Phone" id="Phone">
                    </div>
                    <div class="col-md-6 mb-3 form-group">
                        <label for="Service" class="small mb-1">Select a Service</label>
                        <select class="form-control" id="Services">
                            <option selected="" value="" disabled="">Services/General</option>
                            <option value="Personal Tax">Personal Tax</option>
                            <option value="Corporate Tax">Corporate Tax</option>
                            <option value="Self Employement Tax Filing">Self Employement Tax Filing</option>
                            <option value="Business Incorporation Services">Business Incorporation Services</option>
                            <option value="Business Advisory Services">Business Advisory Services</option>
                            <option value="Additional Corporation Services">Additional Corporation Services</option>
                            <option value="US Tax">US Tax</option>
                            <option value="Accounting and Book Keeping">Accounting and Book Keeping</option>
                            <option value="Other Services">Other Services</option>
                        </select>
                    </div>                    
                    <div class="col-md-12 mb-3 form-group">
                        <label for="message" class="small mb-1">Type your message</label>
                        <textarea class="form-control" id="message" name="message"></textarea>
                    </div>                  
                    <div class="col-md-12 mb-3 form-group">
                        <input type="submit" class="btn btn-danger-outline" value="Submit">
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>
<!-- call_back ends here -->
